.title-home{
    display: inline;
}

.container-products{
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
}

#cerrarSesion{
    background-color: red;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    margin: 100px;
    padding: 20px;
}

#id-carrito{
    padding: 10px;
}
