<div class="login-box">
      <h1>Login Here</h1>
      <form id="loginForm">
        <!-- USERNAME INPUT -->
        <label for="mail">Mail</label>
        <input type="text" placeholder="Enter Mail" id="mail">
        <!-- PASSWORD INPUT -->
        <label for="password">Password</label>
        <input type="password" placeholder="Enter Password" id="password">
        <input type="submit" value="Log In">
        <a href="http://localhost:{{PORT}}/session/signup">¿No tienes cuenta?</a>
      </form>
       <a href="/github"><button id="github">Login con github</button></a>
</div>