<form class="form-register" id="signupForm">
    <h4>Formulario Registro</h4>
    <input class="controls" type="text" name="name" id="first_name" placeholder="Ingrese su Nombre">
    <input class="controls" type="text" name="last_name" id="last_name" placeholder="Ingrese su Apellido">
    <input class="controls" type="email" name="email" id="email" placeholder="Ingrese su Correo">
    <input class="controls" type="number" name="number" id="age" placeholder="Ingrese su Edad">
    <input class="controls" type="password" name="password" id="password" placeholder="Ingrese su Contraseña">
    <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
    <button class="botons" type="submit">Registrar</button>
    <p><a href="http://localhost:{{PORT}}">¿Ya tengo Cuenta?</a></p>
</form>