 <form class="form-register" id="signupForm">
    <h4>Formulario Registro</h4>
    <input class="controls" type="text" name="name" id="name" placeholder="Ingrese su Nombre">
    <input class="controls" type="text" name="last_name" id="last_name" placeholder="Ingrese su Apellido">
    <input class="controls" type="email" name="mail" id="mail" placeholder="Ingrese su Correo">
    <input class="controls" type="text" name="user" id="user" placeholder="Ingrese nombre de Usuario">
    <input class="controls" type="password" name="password" id="password" placeholder="Ingrese su Contraseña">
    <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
    <button class="botons" type="submit">Registrar</button>
    <p><a href="http://localhost:8080">¿Ya tengo Cuenta?</a></p>
  </form>